<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Balance Buddy</title>

    <link href="assets/css/main.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://use.fontawesome.com/f9ca80c933.js"></script>
</head>

<body ng-app="bbApp">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Balance Buddy</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#settingsModal"><i class="fa fa-cog fa-lg" style="color:cornflowerblue" aria-hidden="true"></i> SETTINGS</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" ng-controller="indexCtrl" style="margin-top:80px;">
        <div class="row">
            <form>
                <div class="col-sm-5 col-md-5 col-lg-5  col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="form-group">
                        <label class="control-label text-uppercase text-muted" for="carrier">carrier</label>
                        <select class="form-control" name="" id="carrier" ng-model="carrier" ng-options="carrier.carrier_name for carrier in data.carriers track by carrier.carrier_id">
                    </select>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div class="form-group">
                        <label class="control-label text-uppercase text-muted" for="state">state</label>
                        <select class="form-control" name="" id="state" 
                        ng-model="state" ng-options="state.state_name for state in (data.countries_states | filter: getFilteredCountriesStates)[0].states track by state.state_id">
                    </select>
                    </div>
                </div>
            </form>
        </div>

        <!--Codes-->
        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="code in data.codes | filter: codeFilter">
                        <h3 class="text-muted">{{code.info.title}} <a ng-href="{{encode(code.info.code)}}" class="btn btn-primary pull-right">{{code.info.code}}</a></h3>
                        <p>{{code.info.description}}</p>
                        <!--<span class="badge">{{code.info.code}}</span> {{code.info.title}}-->
                    </li>
                </ul>
            </div>
        </div>

        <!--settings modal-->
        <div class="modal fade" id="settingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-uppercase">settings</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label text-uppercase text-muted" for="country">country</label>
                        <select class="form-control" name="" id="country" 
                        ng-model="country" ng-options="country.country_name for country in data.countries_states track by country.country_id"
                        ng-change="countryChanged()">
                    </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/indexCtrl.js"></script>
</body>

</html>